*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body, html{
    background-color: black;
    width: 100%;
    height: 100%;
}

.textCenter{
    text-align: center;
}
#startButton{

    width: 100px;
    height: 50px;
}
#startPage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
}
#title{
    color: white;
}

.hide{
    display: none !important;
}
.posCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#paper{
    width: 300px;
    height: 400px;
    background-color: white;
}
#game{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#questionList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
#questionList p{
    font-size: 10px;
    /*margin: 2px;*/
    /*transform: translate(-50%,-50%);*/
}
.bigText{
    font-size: 50px;
}


textarea{
    resize: none;
    height: calc(100% - 55.5px);
    border: none;
}
#submitBtt{
    width: 80px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

#badAnswer{
    color: red;
    font-size: 60px;
    width: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
}